<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Amatic+SC'>
    <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
